.contact-us {
  background: url(../../public/12/01.webp) center/cover no-repeat;
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    color: rgba(39, 76, 91, 1);
    font-family: "Roboto", Arial, sans-serif;
    font-size: clamp(50px, 6.5vw, 70px);
    font-weight: 250;
  }
}
